table {
  margin: 10px 10px;

  th {
  text-align: left ;

  }
  td {
    padding: .25rem .25rem;

  }
}

/* Set the background color of body to tan */
body {

}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  body {

  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  body {
    
  }
}
