table {
  margin: 10px 10px;

  th {
  text-align: left ;

  }
  td {
    padding: .25rem .25rem;

  }
}


main {
  width: 90%;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  border-radius: 5px;

}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  main {
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    border-radius: 5px;

  }
}

/* On screens that are 600px or less*/
@media screen and (max-width: 600px) {
  main {
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    border-radius: 5px;

  }
}
