<div class="container">
  <div class="update-person-details-button">
    <button
      class="fa fa-save btn btn-primary"
      (click)="updatePersonDetails()"
      type="button"
      [disabled]="!formGroup.dirty"
    >
      {{ buttonText }}
    </button>
  </div>

  <form [formGroup]="formGroup">
    <div class="container">
      <div class="row">
        <label class="form-label">Naam</label>
        <div class="col-5">
          <input
            placeholder="Naam"
            type="text"
            class="form-control"
            id="firstName"
            formControlName="firstName"
          />
        </div>

        <div class="col-2">
          <input
            placeholder="Tussenvoegsel"
            type="text"
            class="form-control name-sufix"
            id="nameSufix"
            formControlName="nameSufix"
          />
        </div>

        <div class="col-5">
          <input
            placeholder="Achternaam"
            type="text"
            class="form-control"
            id="lastName"
            formControlName="lastName"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <label class="form-label">Adres</label>
        <div class="col-8">
          <input
            placeholder="Straat naam"
            type="text"
            class="form-control"
            id="streetName"
            formControlName="streetName"
          />
        </div>

        <div class="col-2">
          <input
            placeholder="nummer"
            type="text"
            class="form-control"
            id="houseNumber"
            formControlName="houseNumber"
          />
        </div>

        <div class="col-2">
          <input
            placeholder="toevoeging"
            type="text"
            class="form-control"
            id="houseNumberSufix"
            formControlName="houseNumberSufix"
          />
        </div>
      </div>
      <br />

      <div class="row">
        <label class="form-label">Postcode & Woonplaats</label>
        <div class="col-2">
          <input
            placeholder="Postcode"
            type="text"
            class="form-control"
            id="zipCode"
            formControlName="zipCode"
          />
        </div>

        <div class="col-5">
          <input
            placeholder="woonplaats"
            type="text"
            class="form-control"
            id="city"
            formControlName="city"
          />
        </div>
      </div>
      <div class="row">
        <label class="form-label">Telefoonnummer & Email Adres</label>
        <div class="col-2">
          <input
            placeholder="Telefoonnummer"
            type="text"
            class="form-control"
            id="telephoneNumber"
            formControlName="telephoneNumber"
          />
        </div>

        <div class="col-5">
          <input
            placeholder="E-mail adress"
            type="email"
            class="form-control"
            id="emailAdress"
            formControlName="emailAdress"
          />
        </div>
      </div>
    </div>
  </form>
</div>
