<div *ngFor="let person of persons">
  <div class="main" *ngIf="person.id == id">
    <form>
      <button (click)="getBack()">Back</button>
      <button (click)="deleteConfirmMessage(person)">Delete</button>
      <br />
      <label>Naam</label>
      <input
        type="text"
        id="fullname"
        name="fullname"
        value="{{ person.firstName }} {{ person.nameSufix }} {{
          person.lastName
        }}"
      /><br />
      <label>Adres</label>
      <input
        type="text"
        id="adress"
        name="adres"
        value="{{ person.streetName }} {{ person.houseNumberSufix }} {{
          person.houseNumber
        }}"
      /><br />
      <input
        type="text"
        id="adress"
        name="adres"
        value="{{ person.zipCode }}  {{ person.city }} "
      /><br />
      <input
        type="text"
        id="country"
        name="land"
        value="{{ person.country }}"
      /><br /><br /><br />

      <Label>Telefoonnummer</Label>
      <input
        type="text"
        id="telephonenumber"
        name="Telefoonnummer"
        value="{{ person.telephoneNumber }}"
      />
      <Label>email adress</Label>
      <input
        type="email"
        id="emailAdress"
        name="emailAdress"
        value="{{ person.emailAdress }}"
      />
    </form>
  </div>
</div>
